<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollert by Ankush Vats</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/modernizer.js') }}"></script>
    {% block head %}
    
    {% endblock %}
</head>

<body>
    <header>
        <div class="board">
            <!-- /pages-stack -->
            <button class="menu-button">
                <div id="board">
                    <div class="icon boards"></div>
                    <h5 class="header-item">Boards</h5>
                </div>
            </button>
        </div>
        <div id="search">
            <div class="icon search"></div>
            <h5 class="q" class="header-item" contenteditable="true">Search..</h5>
        </div>
        <div class="branding">
            <div class="logo"></div>
        </div>
        <div class="custom"></div>
        <div id="fullscreen-toggle">
            <div class="icon fullscreen"></div>
            <h5 class="header-item" onclick="toggleFullscreen()">fullscreen</h5>
        </div>
        <div class="nameplate">
            <img src="" alt="" class="user-pic">
        </div>
    </header>
    <!-- navigation -->
    <nav class="pages-nav">
        {% block nav %}{% endblock %}
    </nav>
    <!-- /navigation-->
    <!-- pages stack -->
    <div class="pages-stack">
        <!-- page -->
        {% block pagestack %}{% endblock %}

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://vise.s3.ap-south-1.amazonaws.com/static/js/ejs.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>

    {% block scripts %} {% endblock %}
</body>

</html>