
{% extends "_layouts/base.html" %}

{% block title %} Boards {% endblock %}

{% block head %}

{% endblock %}



{% block body %} 

    <div class="board-title-wrapper">
        <div class="board-icon-marker"></div>
        <div class="board-name-wrapper">
            <h4>Planner Board</h4>
            <p>Project one</p>
        </div>
        <div class="access-level">
            <div class="icon eye"></div>
            <p>Restricted access</p>
        </div>
    </div>

    

{% endblock %}

{% block scripts %} 

{% endblock %}


</html>