{% extends "_layouts/base.html" %}
    {% block nav %}

    {% endblock %}

    {% block pagestack %}


        <script type="template" id="pageNav">
            <!--Insert page ID here in href-->
            <div class="pages-nav__item"><a class="link link--page" href="#">Home</a></div>
        </script>
        <script type="template" id="page">
            <!--Insert the same page ID here-->
            <div class="page" id="">
                <header>
                    <div class="board">
                        
                    </div>
                    <div id="search">
                        <div class="icon search"></div>
                        <h5 class="q" class="header-item" contenteditable="true">Search..</h5>
                    </div>
                    <div class="branding">
                        <div class="logo"></div>
                    </div>
                    <div class="custom"></div>
                    <div id="fullscreen-toggle">
                        <div class="icon fullscreen"></div>
                        <h5 class="header-item" onclick="toggleFullscreen()">fullscreen</h5>
                    </div>
                    <div class="nameplate">
                        <img src="{{user}}" alt="" class="user-pic">
                    </div>
                </header>
                <div class="page-header">
                    <div></div>
                    <div class="board-icon">

                    </div>
                    <div class="board-name-wrapper">
                        <h3 class="title">Planner Board</h3>
                        <p class="subtitle">Restricted Access</p>
                    </div>
                    <div></div>
                    <div></div>
                </div>
                <div class="lane-container">

                </div>
                
            </div>
        
        </script>

        <script type="template" id="lanes">
                <div class="lane">
                    <div class="lane-title">
                        <div class="pointer"></div>
                        <h3 class="title"> To Do</h3>
                    </div>
                    <div class="card-container" ondrop="drop(event)" ondragover="allowDrop(event)">
                    </div>
                </div>
        </script>

        <script type="template" id="cardT1">
            <!--Plug card id here-->
            <div class="card" draggable="true" ondragstart="drag(event)" id="">
                <div class="tag-container">
                    <div class="tag red"></div>
                    <div class="tag blue"></div>
                </div>
                <h4 class="title">Do Something amazing today</h4>
                <div class="attachments-wrapper">
                    <div class="icon attachments"></div>
                    <p class="a-qty">3+</p>
                </div>
                <div class="collaborators">
                    <div class="member">
                        <img src="" alt="" srcset="">
                    </div>
                    <button class="add-member"> + </button>
                </div>
            </div>
        </script>
    {% endblock %}