{% extends "_layouts/base.html" %}
    {% block nav %}

    {% endblock %}

    {% block pagestack %}

        
    {% endblock %}

    {% block scripts %} 
    <script type="template" id="pageNav">
                <!--Insert page ID here in href-->
                <% for (i in boards) { %>
    <div class="pages-nav__item"><a class="link link--page" href="#<%= boards[i].id %>"><%= boards[i].title %></a></div>
    <% } %>
    </script>

    <script type="template" id="page">
        <% for (i in boards) { %>

            <div class="page" id="<%= boards[i].id %>">

                <div class="page-header">
                    <div></div>
                    <div class="board-icon">

                    </div>
                    <div class="board-name-wrapper">
                        <h3 class="title"><%= boards[i].title %></h3>
                        <p class="subtitle"><%= boards[i].description %></p>
                    </div>
                    <div></div>
                    <div></div>
                </div>

                <div class="lane-scroll-container">
                    <div class="lane-container" data-lanes="<%= boards[i].lanes.length %>">
                        <% for (j in boards[i].lanes) { %>
                        <div id="<%= boards[i].lanes[j]._id %>" class="lane">
                            <div class="lane-title">
                                <div class="pointer"></div>
                                <h3 class="title"><%= boards[i].lanes[j].title %></h3>
                            </div>
                            <div class="card-container" ondrop="drop(event)" ondragover="allowDrop(event)">
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>

        <% } %>
    </script>
    <script type="template" id="card">
                <!--Plug card id here-->
                <% for (k in cards) { %>
    <div class="card" draggable="true" ondragstart="drag(event)" id="<%= cards[k].id %>">
        <div class="tag-container">
            <div class="tag red"></div>
            <div class="tag blue"></div>
        </div>
        <h4 class="title"><%= cards[k].title %></h4>
        <div class="attachments-wrapper">
            <div class="icon attachments"></div>
            <p class="a-qty">3+</p>
        </div>
        <div class="collaborators">
            <div class="member">
                <img src="" alt="" srcset="">
            </div>
            <button class="add-member"> + </button>
        </div>
    </div>
    <% } %>
    </script>
    {% endblock %}